*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 26px;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: #E0E8FF;
    background-image: url(Assets/Media/pattern-background-desktop.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.card{
    width: 18rem;
    border-radius: 20px;
}
.card-text{
    font-size: 0.7rem;
}
.card-img-top{
    border-radius: 20px 20px 0px 0px;
}
a.change{
    color: #382AE1;
}
a.change:hover{
    color: #766CF1;
}
.btn{
    font-size: 0.9rem;
    background-color: #382AE1;
    box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
    border: none;
}
.btn:hover{
    background-color: #766CF1;
}
div.container:first-child{
    height: 100%;
}
div div div div p{
    margin-block-start: 0;
    margin-block-end: 0;
}
.cancel:hover{
    color: #1F2E55;
    text-decoration: none;
}
@media screen and (max-width: 480px) {
    html{
        font-size: 16px;
    }
}